body {
    background: #f9e933;
    font-family: 'Droid Sans', sans-serif;
}

header,
main,
footer {
    min-width: 855px;
}

header .container,
main .container,
footer .container {
    max-width: 855px;
    margin: auto;
}

header {
    background: white;
    overflow: auto;
    border-bottom: 1px solid #dddddd;
    padding: 25px 0 25px 0;
}

h1 {
    float: left;
    width: 570px;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-size: 3em;
    color: #BB3333;
}

h2 {
    float: left;
    width: 570px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

h3 {
    /* float: left; */
    width: 570px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    padding-top: 5%;
    margin-bottom: 20px;
}

h4 {
    font-family: 'Ubuntu', sans-serif;
}

h5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25em;
    margin-bottom: 20px;
}

header nav {
    float: right;
    width: 285px;
}

a {
    color: #FF0000;
    text-decoration: none;
    font-weight: bold;
}
main{
    background: white;
    overflow: auto;
    padding: 40px;
}

.mainleft {
    float: left;
    width: 570px;
}

.lightbulb {
    float: right;
    width: 285px;
}
footer{
    overflow: auto;
    padding: 0 55px;
}
footer .contact{
    float: left;
    width: 570px;
}
footer .sitemap{
    float: right;
    width: 285px;
}
.faq{
    float: left;
    margin: 0 10%;
}
.faq p {
    font-family: 'Droid Sans', sans-serif;
    font-size: 1.2em;
}
.tabs a span {
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    background: #ddd;
    padding: 5px;
}

.tabs a span.active {
    background: #eee;
}

.content {
    padding: 0 20px 20px 20px;
    overflow: auto;
    background: #ddd;
}

.content li {
    margin: 10px 0;
    padding: 10px 20px 10px 10px;
    background: white;
}

.content div {
    margin: 10px 0;
    padding: 10px 20px 10px 10px;
}

.content button {
    padding: 7px 10px 7px 10px;
    margin: 0 10px;
    font-size: 17px;
}

.content input {
    padding: 7px 10px 7px 10px;
    font-size: 17px;
}

.content p {
    margin: 10px 0;
    padding: 10px 20px 10px 10px;
    background: lightgray;
}